<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>test</h1>
    <form method="post" action="/api/join">
        <input type="text" name="email">
        <input type="text" name="password">
        <button type="submit">전송</button>
    </form>
    <form method="post" action="/api/login">
        <input type="text" name="email">
        <input type="text" name="password">
        <button type="submit">전송</button>
    </form>
<a href="/admin/href">test</a>
</body>
</html>